<div class="page">
  <header>
    <p-toolbar styleClass="h-5rem">
      <div class="p-toolbar-group-left"></div>
    </p-toolbar>
  </header>
  <main>
    <div
      class="flex flex-column justify-content-between align-items-center h-full"
    >
      <span></span>
      <h1 class="m-5">Die Anwendung ist nur mobil verfügbar</h1>
      <span></span>
    </div>
  </main>
  <footer>
    <p-toolbar styleClass="h-5rem">
      <div class="p-toolbar-group-left"></div>
    </p-toolbar>
  </footer>
</div>
